html {
    -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #666;
}

.quiz-section {
    padding: 2rem;
}

.quiz-answer {
	margin: 6px;
}

 .answer-input {
 	display: none;
 	visibility: hidden;
 	opacity: 0;
 }

 .quiz-answer label::before{
    content: "";
    display: inline-block;
    
    height: 20px;
    width: 20px;
    
    border: 1px solid #999;
    border-radius: 2rem; 
}

.quiz-answer label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid #FFA000;
    border-bottom: 2px solid #FFA000;
    
    transform: rotate(-45deg);
}

.quiz-answer label {
    position: relative;
    margin-left: 3rem;
}

.quiz-answer label::before,
.quiz-answer label::after {
    position: absolute;
}

.quiz-answer label::before {
    top: -3px;
    left: -30px;
}


.quiz-answer label::after {
    left: -24px;
    top: 3px;
}

/*Hide the checkmark by default*/
.quiz-answer input[type="checkbox"] + label::after {
    content: none;
}
/*Unhide the checkmark on the checked state*/
.quiz-answer input[type="checkbox"]:checked + label::after {
    content: "";
}

.quiz-answer input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}