.btn,
.form-control {
    border-radius: 5em;
}

.btn-login {
    color: #AAAAAA;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-left: 0.5em;
}

.btn-login:hover,
.btn-login:active,
.btn-login:focus,
.btn-login.active {
    background: #AAAAAA;
    color: #ffffff;
}

.btn-signup {
    color: #fff;
    background-color: #FFA000;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-left: 0.5em;
}

.btn-signup:hover,
.btn-signup:active,
.btn-signup:focus,
.btn-signup.active {
    background: #FFB000;
    color: #ffffff;
}

.btn-videos {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.78);
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-left: 0.5em;
}

.btn-videos:hover,
.btn-videos:active,
.btn-videos:focus,
.btn-videos.active {
    background: #FFB000;
    color: #ffffff;
}

.flex-even {
    flex: 1;
}

.footer {
  width: 100%;
  background-color: #f5f5f5;
  font-size: small;
}

.btn-footer {
    background-color: transparent;
    border-radius: 5em;
    border: 1px solid grey;
    color: black;
}

.btn-footer:hover,
.btn-footer:active,
.btn-footer:focus,
.btn-footer.active {
    background: black;
    color: #ffffff;
}


.card-img .large {
    height: 300rem;
    object-fit: cover;
}

.card-img  .left{
    object-position: 0 0;
}

.card-img {
    height: 20rem;
    object-fit: cover;
}

.text-orange,
a {
    color: #FFA000;
}

.footer {
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.card-text .subtitle
{
    text-shadow: 2px 2px 5px white;
}