<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="theme-color" content="#FFA000">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  
  <link rel="stylesheet" type="text/css" href="/static/css/quizStyle.css"> <!-- specific stlyesheet-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="canonical" href="/">
  <title>Relevatico</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
  <div class="quiz-section">
    <form method="POST">
    <h2 class="quiz-question">{{ quiz.name }}</h2>
    <div id="answer_1" class="quiz-answer">
      <input class="answer-input" type="checkbox" name="answer" value="answer1">
      <p class="answer-text">{{ quiz.question1 }}</p>
    </div>
    <div id="answer_2" class="quiz-answer">
      <input class="answer-input" type="checkbox" name="answer" value="answer2">
      <p class="answer-text">{{ quiz.question2 }}</p>
    </div>
    <div id="answer_3" class="quiz-answer">
      <input class="answer-input" type="checkbox" name="answer" value="answer3">
      <p class="answer-text">{{ quiz.question3 }}</p>
    </div>
    <div id="answer_4" class="quiz-answer">
      <input class="answer-input" type="checkbox" name="answer" value="answer4">
      <p class="answer-text">{{ quiz.question4 }}</p>
    </div>
    {% csrf_token %}
    <input type="submit" value="Submit Quiz">
    </form>
  </div>
</body>
</html>
