<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Masterclass</title>
    </head>

    <body>
        <!-- Navbar start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo.png" alt="Relevatico logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Newest <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Cat 1</a>
                            <a class="dropdown-item" href="#">Cat 2</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Most Popular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Learning Concepts</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 mx-2">
                    <button type="button" name="log in" class="btn btn-login">Log in</button>
                    <button type="button" name="sign up" class="btn btn-signup">Sign up</button>
                </form>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search ..." aria-label="Search">
                </form>
            </div>
        </nav>
        <!-- Navbar end -->

        <div class="container my-4">
		{% if correct %}
            <div class="alert alert-success" role="alert">
                You are right!
            </div>
	    {% else %}
            <div class="alert alert-danger" role="alert">
                Try again!
            </div>
	    {% endif %}
            <a role="button" class="btn btn-login" onclick="history.back()">Back</a>
        </div>

        <!-- footer -->
        <footer class="footer">
            <div class="container px-4">
                <div class="row justify-content-between">
                    <div class="col-4 d-flex flex-column justify-content-between">
                        <a role="button" class="btn btn-footer my-1">Contact</a>
                        <a role="button" class="btn btn-footer my-1">How it works</a>
                        <a role="button" class="btn btn-footer my-1">FAQ</a>
                        <a role="button" class="btn btn-footer my-1">Press</a>
                    </div>
                    <div class="col-4 d-flex flex-column justify-content-between">
                        <a role="button" class="btn btn-footer my-1">Language</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms & Conditions</a>
                        <p>Relevatico Company &copy 2019</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
