<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/quizStyle.css"> <!-- quiz stlyesheet-->
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Masterclass</title>
    </head>

    <body>
        <!-- Navbar start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo.png" alt="Relevatico logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Newest <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Cat 1</a>
                            <a class="dropdown-item" href="#">Cat 2</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Most Popular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Learning Concepts</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 mx-2">
                    <a href="/admin/" class="btn btn-login">Log in</a>
                    <button type="button" name="sign up" class="btn btn-signup">Sign up</button>
                </form>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search ..." aria-label="Search">
                </form>
            </div>
        </nav>
        <!-- Navbar end -->

	{% for video in videos %}
        <div class="container my-4">
            <div class="accordion" id="topicExample">
                <div class="card w-100">
			<div class="card-header" id="video-header{{ video.id }}">
                        <h2>
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#video{{ video.id }}" aria-expanded="false" aria-controls="video{{ video.id }}">
				    Video: {{ video.title }}
                            </button>
                        </h2>
                    </div>
		    <div id="video{{ video.id }}" class="collapse" aria-labelledby="video-header" data-parent="#topicExample">
                        <div class="card-body">
				<video src="{{ video.video.url }}" controls type="media/webm" class="card-img-top">
                                Your browser does not support this video!
                            </video>
			    <h2 class="text-orange">{{ video.title }}</h2>
                        </div>
                    </div>
                </div>
                <div class="card w-100">
                    <div class="card-header" id="description-header">
                        <h2>
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#description{{video.id}}" aria-expanded="false" aria-controls="description">
                                Description
                            </button>
                        </h2>
                    </div>
		    <div id="description{{video.id}}" class="collapse" aria-labelledby="description-header" data-parent="#topicExample">
                        <div class="card-body">
                            <p>Some helpful description.</p>
                        </div>
                    </div>
                </div>
                <div class="card w-100">
                    <div class="card-header" id="quiz-header">
                        <h2>
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#quiz{{video.id}}" aria-expanded="false" aria-controls="quiz">
                                Quiz
                            </button>
                        </h2>
                    </div>
		    <div id="quiz{{video.id}}" class="collapse" aria-labelledby="quiz-header" data-parent="#topicExample">
			{% with quiz=video.quiz_set.all.first %}
<form method="POST">
  <div class="quiz-section">
    <h2 class="quiz-question">{{ quiz.name }}</h2>
    <div id="answer_1" class="quiz-answer">
	    <input id="answerInput1-{{video.id}}" class="answer-input" type="checkbox" name="answer" value="answer1">
	    <label for="answerInput1-{{video.id}}" class="answer-text">{{ quiz.question1 }}</label>
    </div>
    <div id="answer_2" class="quiz-answer">
	    <input id="answerInput2-{{video.id}}" class="answer-input" type="checkbox" name="answer" value="answer2">
      <label for="answerInput2-{{video.id}}" class="answer-text">{{ quiz.question2 }}</label>
    </div>
    <div id="answer_3" class="quiz-answer">
	    <input id="answerInput3-{{video.id}}" class="answer-input" type="checkbox" name="answer" value="answer3">
	    <label for="answerInput3-{{video.id}}" class="answer-text">{{ quiz.question3 }}</label>
    </div>
    <div id="answer_4" class="quiz-answer">
	    <input id="answerInput4-{{video.id}}" class="answer-input" type="checkbox" name="answer" value="answer4">
	    <label for="answerInput4-{{video.id}}" class="answer-text">{{ quiz.question4 }}</label>
    </div>
  </div>
<div class="quiz-answer">
{% csrf_token %}
<input type="hidden" name="id" value="{{ video.id }}">
	<input type="submit" value="Submit quiz" class="btn btn-primary">
</div>
</form>

			{% endwith %}
                    </div>
                </div>
            </div>
        </div>
	{% endfor %}

        <!-- footer -->
        <footer class="footer">
            <div class="container px-4">
                <div class="row justify-content-between">
                    <div class="col-4 d-flex flex-column justify-content-between">
                        <a role="button" class="btn btn-footer my-1">Contact</a>
                        <a role="button" class="btn btn-footer my-1">How it works</a>
                        <a role="button" class="btn btn-footer my-1">FAQ</a>
                        <a role="button" class="btn btn-footer my-1">Press</a>
                    </div>
                    <div class="col-4 d-flex flex-column justify-content-between">
                        <a role="button" class="btn btn-footer my-1">Language</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms & Conditions</a>
                        <p>Relevatico Company &copy 2019</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
